body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.home{
  text-align: center;
  font-size: 1.3em;
  background: rgb(221, 121, 121);
}

.about{
  text-align: center;
  font-size: 1.3em;
  background: rgb(173, 253, 173);
}

.contact{
  text-align: center;
  font-size: 1.3em;
  background: rgb(130, 130, 233);
}